__pycache__/
*.so
*.dll
*.o
build/
dist/
*.egg-info/
offline_embeddings.bin
ivf_labels.bin
ivf_centroids.bin
ivf_database.bin
ivf_offsets.bin
*.bin
*.json
build/
dist/
*.egg-info/
*.pkl
venv/
.env